<div id="launch">

<div id = 'linkbar'>
<%= link_to "<< Back to All Employees", employees_path, :class => 'links' %>
<%= link_to "Edit", edit_employee_path(@employee), :class => 'links' %>
</div>


	<div id = 'title'>
	<h1><%= @employee.first.to_s + " " + @employee.last.to_s %></h1>
	</div>

	<div id = 'body'>

<% if @employee.hrs_todate === nil %>

<p>You haven't yet worked this week</p>

<% else %>



	<p><%= ('%.2f' % @employee.hrs_todate).to_s + " Minutes Worked" %></p>
	<p>
		<% cost = (@employee.hrly_cost/60)*@employee.hrs_todate %>
		<%= "$" + ('%.2f' % cost) %>
	</p>

<% end %>

	</div>

	<div id = 'submit'>
	<%= render partial: 'timestamps/form' %>
	</div>

	<div>
	<p>Scroll down to see history</p>
	</div>
</div>


<h3>HISTORY</h3>
<%= render partial: 'employees/timestamp', collection: @employee.timestamps.order(:start).reverse %>
