<%= link_to "<< Back to All Employees", employees_path %>
<%= link_to "Edit", edit_employee_path(@employee) %>

<h1><%= @employee.first %></h1>
<p><%= @employee.hrly_cost %></p>
#<%= render partial: 'timestamps/form' %>
<h3>HISTORY</h3>
#<%= render partial: 'employees/timestamp', collection: @employee.timestamps %>
