<div id="launch">

<div id = 'linkbar'>
<%= link_to "<< Back to All Employees", employees_path, :class => 'links' %>
<%= link_to "Edit", edit_employee_path(@employee), :class => 'links' %>
</div>


<h1><%= @employee.first %></h1>
<p><%= @employee.hrly_cost %></p>
<%= render partial: 'timestamps/form' %>

</div>



<h3>HISTORY</h3>
<%= render partial: 'employees/timestamp', collection: @employee.timestamps.order(:clock).reverse %>
