<div id = 'linkbar'>
<%= link_to "<< Back to All Employees", paving_bids_path, :class => 'links' %>
<%= link_to "Edit", edit_paving_bid_path(@paving_bid), :class => 'links' %>
</div>

<h2>
<% title = @paving_bid.jobID.to_s + " " + @paving_bid.jobName.to_s + " - "  + number_with_precision(@paving_bid.squareFeet, :precision => 0, :delimiter => ',') + " Square Feet" %>
<%= title %>
</h2>


<p><%= "To: " + @paving_bid.contactName.to_s %>
</p>
<p><%= @paving_bid.contactPhone.to_s + " | " + @paving_bid.contactAddress.to_s %>
</p>

<br/>


<%

sy = (@paving_bid.squareFeet/9)

garityCost = sy * @paving_bid.garitySYrate
damicoCost = @paving_bid.damicoReclaimTime * @paving_bid.damicoReclaimCost
reclaimCost = garityCost + damicoCost
grAcom = @paving_bid.gradeCompactSFrate * @paving_bid.squareFeet

classTwoTons = (@paving_bid.inClassTwo/4)*(@paving_bid.squareFeet/39.15)
classTwoTotal = classTwoTons * @paving_bid.classTwoCost
classOneTons = (@paving_bid.inClassOne/4)*(@paving_bid.squareFeet/39.15)
classOneTotal = classOneTons * @paving_bid.classTwoCost
levelingTons = (@paving_bid.inLeveling/4)*(@paving_bid.squareFeet/39.15)
levelingTotal = levelingTons * @paving_bid.levelingCost

processTons = @paving_bid.inProcess*((@paving_bid.squareFeet/9)*0.0534)
processTotal = processTons * @paving_bid.classOneCost

materialsTotal = (classTwoTotal + classOneTotal + levelingTotal + processTotal)


baseTime = processTons /  @paving_bid.tonsBasePerDay
baseCost = baseTime * @paving_bid.costBasePerDay

paveTons = (classTwoTons + classOneTons + levelingTons)
paveTime = paveTons / @paving_bid.tonsPavePerDay
paveCost = paveTime * @paving_bid.costPavePerDay

setMaterial = baseCost + paveCost

truckTotal = @paving_bid.numRentalTrucks * @paving_bid.rentalTruckCost * @paving_bid.truckDays

totalCost = reclaimCost + grAcom + materialsTotal + setMaterial + truckTotal

%>



<h3><%= "Reclaim Work | $" + number_with_precision(reclaimCost, :precision => 2, :delimiter => ',') %></h3>
<p><%= "$" +  number_with_precision(garityCost, :precision => 2, :delimiter => ',') + " | Garity: Reclaim " + sy.to_s + " Square Yards at $" + number_with_precision(@paving_bid.garitySYrate, :precision => 2, :delimiter => ',') + " per SY." %>
</p>
<p><%= "$" +  number_with_precision(damicoCost, :precision => 2, :delimiter => ',') + " | Damico: Work " + @paving_bid.damicoReclaimTime.to_s + " Days at $" + number_with_precision(@paving_bid.damicoReclaimCost, :precision => 2, :delimiter => ',') + " per Day." %>
</p>


<h3><%= "Fine Grade & Compact | $" + number_with_precision(grAcom, :precision => 2, :delimiter => ',') %></h3>
<p><%= "$" + number_with_precision(grAcom, :precision => 2, :delimiter => ',') + " | " + number_with_precision(@paving_bid.squareFeet, :precision => 0, :delimiter => ',') + " Square Feet at $" + number_with_precision(@paving_bid.gradeCompactSFrate, :precision => 2) + " per SF." %>
</p>


<h3><%="Purchase Materials | $" + number_with_precision(materialsTotal, :precision => 2, :delimiter => ',') %></h3>
<p><%= "$" + number_with_precision(processTotal, :precision => 2, :delimiter => ',') + " | " + @paving_bid.inProcess.to_s + " inches of Process - " + number_with_precision(processTons, :precision => 1) + " Tons at $" + @paving_bid.processCost.to_s + " per TN." %>
</p>
<p><%= "$" + number_with_precision(classTwoTotal, :precision => 2, :delimiter => ',') + " | " + @paving_bid.inClassTwo.to_s + " inches of Class II - " + number_with_precision(classTwoTons, :precision => 1) + " Tons at $" + @paving_bid.classTwoCost.to_s + " per TN." %>
</p>
<p><%= "$" + number_with_precision(classOneTotal, :precision => 2, :delimiter => ',') + " | " + @paving_bid.inClassOne.to_s + " inches of Class I - " + number_with_precision(classOneTons, :precision => 1) + " Tons at $" + @paving_bid.classOneCost.to_s + " per TN." %>
</p>
<p><%= "$" + number_with_precision(levelingTotal, :precision => 2, :delimiter => ',') + " | " + @paving_bid.inLeveling.to_s + " inches of Leveling Course - " + number_with_precision(levelingTons, :precision => 1) + " Tons at $" + @paving_bid.levelingCost.to_s + " per TN." %>
</p>


<h3><%="Set Materials | $" + number_with_precision(setMaterial, :precision => 2, :delimiter => ',') %></h3>
<p><%= "$" + number_with_precision(baseCost, :precision => 2, :delimiter => ',') + " | Lay down " + number_with_precision(@paving_bid.tonsBasePerDay, :precision => 0, :delimiter => ',') + " Tons per day - " + number_with_precision(processTons, :precision => 1, :delimiter => ',') + " Tons over " + number_with_precision(baseTime, :precision => 2) + " Days at a cost of $" + number_with_precision(@paving_bid.costBasePerDay, :precision => 0, :delimiter => ',') + " per Day." %>
</p>
<p><%= "$" + number_with_precision(paveCost, :precision => 2, :delimiter => ',') + " | Lay down " + number_with_precision(@paving_bid.tonsPavePerDay, :precision => 0, :delimiter => ',') + " Tons per day - " + number_with_precision(paveTons, :precision => 1, :delimiter => ',') + " Tons over " + number_with_precision(paveTime, :precision => 2) + " Days at a cost of $" + number_with_precision(@paving_bid.costPavePerDay, :precision => 0, :delimiter => ',') + " per Day." %>
</p>


<h3><%= "Rental Trucks | $" +  number_with_precision(truckTotal, :precision => 2, :delimiter => ',') %></h3>
<p><%= "$" + number_with_precision(truckTotal, :precision => 2, :delimiter => ',') + " | Renting " + @paving_bid.numRentalTrucks.to_s + " Trucks at $" + @paving_bid.rentalTruckCost.to_s + " per Day for " + @paving_bid.truckDays.to_s + " days." %>
</p>


<h3><%= "Taxes"


<br/>

<h2><%= "Total: $" + number_with_precision(totalCost, :precision => 2, :delimiter => ',') %></h2>

